<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cloudpoint.app.adv.sdk.demo">

    <application
        android:name="com.cloudpoint.app.adv.sdk.demo.AdvApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- 8y4LVGZuSQMHDms3FK0sGjVDN5ChcQfO -->

        <!-- 友财的 -->
        <!--<meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--android:value="8y4LVGZuSQMHDms3FK0sGjVDN5ChcQfO"-->
        <!--tools:replace="android:value" />-->

        <!--<service-->
        <!--android:name="com.baidu.location.f"-->
        <!--android:enabled="true"-->
        <!--android:process=":baidLocation" />-->


        <activity
            android:name="com.cloudpoint.app.adv.sdk.demo.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
